/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY_L 0
#define SYM_L    1
#define ADJ_L    2
#define NUM_L    3
#define CON_L    4

#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)

/ {
	behaviors {
		// Swapper for smart alt+tab
		swapper: swapper {
		    compatible = "zmk,behavior-tri-state";
		    label = "SWAPPER";
		    #binding-cells = <0>;
		    bindings = <&kt LCTRL>, <&kp GRAVE>, <&kt LCTRL>;
		    ignored-key-positions = <8 19 20 21 44>;
		};
	};

	conditional_layers {
		compatible = "zmk,conditional-layers";
		tri_layer {
			if-layers = <1 2>;
			then-layer = <3>;
		};
	};

        keymap {
                compatible = "zmk,keymap";

                default_layer {
/* QWERTY
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | ESC   |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   | BKSPC |
 * | TAB   |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   '   | ENTER |
 * | SHIFT |   Z   |   X   |   C   |   V   |   B   | CAPS  |-------------------| Con   |   N   |   M   |   ,   |   .   |   /   | SHIFT |
 * ----------------| CTRL  |-------|-------|-------| SPACE |  Adj  |---|  Sym  | SHIFT |-------|-------|-------|  n/a  |----------------
 */
                        bindings = <
&kp  ESC      &kp  Q        &kp  W        &kp  E        &kp  R        &kp  T                                                                         &kp  Y        &kp  U        &kp  I        &kp  O        &kp  P        &kp  BSPC
&kp  TAB      &kp  A        &kp  S        &kp  D        &kp  F        &kp  G                                                                         &kp  H        &kp  J        &kp  K        &kp  L        &kp  SQT      &kp  ENTER  
&kp  LSHFT    &kp  Z        &kp  X        &kp  C        &kp  V        &kp  B        &kp  CAPS                                          &mo  CON_L    &kp  N        &kp  M        &kp  COMMA    &kp  DOT      &kp  SLASH    &kp  RSHFT
                            &kp  LCTRL                  &none         &none         &kp  SPACE    &mo  ADJ_L             &mo  SYM_L    &kp  LSHFT    &none         &none                       &none   
                        >;
			
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };
		
                sym_layer {
/* SYM -------------------------------------------------------------------------------------------------------------------------------------
 * |       |       |   [   |   {   |   (   |   `   |-----------------------------------|   ^   |   )   |   }   |   ]   |       |       |
 * |       |   -   |   *   |   =   |   _   |   $   |-----------------------------------|   #   | ctrl  | shift |  alt  |  gui  |       |
 * |       |   +   |   |   |   @   |   \   |   %   |OsAltGr|-------------------| MENU  |   ~   |   &   |   ;   |   :   |   !   |       |
 * ----------------|       |-------|       |       |       |       |---|       |       |       |       |-------| CTRL  |----------------
 */
                        bindings = <
&trans     &none         &kp  LBKT     &kp  LBRC     &kp  LPAR     &kp  GRAVE                                                                     &kp  CARET    &kp  RPAR     &kp  RBRC     &kp  RBKT     &kp  RPAR     &trans
&trans     &kp  MINUS    &kp  ASTRK    &kp  EQUAL    &kp  UNDER    &kp  DOLLAR                                                                    &kp  HASH     &kp  RCTRL    &kp  RSHFT    &kp   LALT    &kp  RGUI     &trans
&trans     &kp  PLUS     &kp  PIPE     &kp  AT       &kp  BSLH     &kp  PERCENT  &kp  RALT                                          &kp  K_APP    &kp  TILDE    &kp  AMPS     &kp  SEMI     &kp  COLON    &kp  EXCL     &trans
			 &trans                      &trans        &trans        &trans        &trans                 &trans        &trans        &trans        &trans                      &trans    
                        >;
			
                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };
		
                adj_layer {
/* ADJUST
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       |       | swap  | BKSPC | del   |       |-----------------------------------| mute  | home  |  up   |  end  |       |       |
 * |       |  gui  |  alt  | shift | ctrl  |vol dn |-----------------------------------|vol up | left  | down  | right |       |       |
 * |       |  undo |  cut  | copy  | paste | prev  |BT CLR |-------------------|       | next  |       |       |       |play/pa|       |
 * ----------------|       |-------|       |       |       |       |---|       |       |       |       |-------| CTRL  |----------------
 */
                        bindings = <
&trans        &none         &swapper      &kp  BSPC     &kp  DEL      &none                                                                      &kp  C_MUTE     &kp HOME    &kp UP      &kp END    &none    &none
&trans        &kp LGUI      &kp  LALT     &kp LSHFT     &kp LCTRL     &kp  C_VOL_DN                                                              &kp  C_VOL_UP   &kp LEFT    &kp DOWN    &kp RIGHT  &none    &none
&trans        &kp Undo      &kp Cut       &kp Copy      &kp Paste     &kp  C_PREV   &bt BT_CLR                                         &none     &kp  C_NEXT     &none       &none       &none      &kp C_PP &trans
                            &trans                      &trans        &trans        &trans        &trans                 &trans        &trans    &trans          &trans                  &kp  RCTRL   
                        >;
			
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                num_layer {
/* NUM   
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | bt_clr|   7   |   5   |   3   |   1   |   9   |-----------------------------------|   8   |   0   |   2   |   4   |   6   | reset |
 * | bt_nxt|  gui  |  alt  | shift | ctrl  |vol dn |-----------------------------------|vol up | ctrl  | shift |  alt  |  gui  | boot  |
 * | br_prv|  F7   |  F5   |  F3   |  F1   |  F9   |  F11  |-------------------| F12   |  F8   |  f10  |  f2   |  f4   |  f6   | bt_0  |
 * ----------------|       |-------|       |       |       |       |---|       |       |       |       |-------|       |----------------
 */
                        bindings = <
&bt BT_CLR  &kp  N7       &kp  N5       &kp  N3       &kp  N1       &kp  N9                                                                        &kp  N8       &kp  N0      &kp   N2      &kp   N4      &kp  N6       &sys_reset
&bt BT_NXT  &kp  LGUI     &kp  LALT     &kp  LSHFT    &kp  LCTRL    &kp  C_VOL_DN                                                                  &kp  C_VOL_UP &kp  RCTRL   &kp   RSHFT   &kp   LALT    &kp  RGUI     &bootloader
&bt BT_PRV  &kp  F7       &kp  F5       &kp  F3       &kp  F1       &kp  F9       &kp F11                                            &kp  F12      &kp  F8       &kp  F10     &kp   F2      &kp   F4      &kp  F6       &bt BT_SEL 0
                          &trans                      &trans        &trans        &trans        &trans                 &trans        &trans        &trans        &trans                      &trans
                        >;
			
                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };

/* CON   
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       | bt_clr|       |       |       |       |-----------------------------------|       |       |       |       |       |       |
 * |       | bt_0  | bt_1  | bt_2  | br_3  |       |-----------------------------------|       |       |       |       |       |       |
 * |       |       |       |       |       |       |       |-------------------|       |       |       |       |       |       |       |
 * ----------------|       |-------|       |       |       |       |---|       |       |       |       |-------|       |----------------
 */
		config_layer {
                        bindings = <
&none	    &bt BT_CLR    &none         &none         &none         &none                                                                          &none         &none        &none         &none         &none         &none
&none	    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none                                                                          &none         &none        &none         &none         &none         &none
&none	    &none         &none         &none         &none         &none         &none                                              &trans        &none         &none        &none         &none         &none         &none 
                          &trans                      &trans        &trans        &trans        &trans                 &trans        &trans        &trans        &trans                     &trans
                        >;
			
                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };
        };
};